<%- include('partials/header'); %>


<!-- head of the page -->
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To Yelpcamp!</h1>
            <p>View our hand-picked campground from all over the world</p>
            <p>
                <a class="btn btn-primary"href="/campgrounds/new">Add new Campground</a>
            </p>
        </div>
    </header>

    <!-- all the images follows -->
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% for (var i=0;i<campgrounds.length;i++){ %>
            <div class="col-md-3 col-sm-6">
                <img src="<%= campgrounds[i].image %>" class="img-thumbnail">
                <div class="caption">
                    <h4><%= campgrounds[i].name %></h4>
                </div>
            </div>
        <% } %> 
    </div> 
</div>

<%- include('partials/footer'); %> 